*{
    margin: 0;
    padding: 0;

}
.table-block{
    display: flex;
    justify-content: space-around;
}

.gr-text{
    background-color: rgba(168, 163, 163, 0.5);
    opacity: 1;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
}
.nav-item{
    background-color:lightgray;
    border-radius:6px;
    border-color:lightgrey;
}
.green-text{
    background-color: lightgreen;
    border-radius:8px;
}
#okno {
    width: 300px;
    height: 50px;
    text-align: center;
    padding: 15px;
    border: 3px solid #0000cc;
    border-radius: 10px;
    color: #0000cc;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  #okno:target {display: block;}
  .close {
    display: inline-block;
    border: 1px solid #0000cc;
    color: #0000cc;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor:pointer;
  }
  .close:hover {background: #e6e6ff;}
.g-text{
    background-color:lightgreen;
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
}
.slider{
    width: 600px;
    height: 250px;
    overflow: hidden;
    border: 10px solid lightgreen;
    border-radius: 12px;
}
.bord-1{
    border:10px solid lightgreen;
}
.btn-lg{
    height:25%;
    width:100%;
    margin-left:20%;
}
.nav-link{
    color:black;
}
.gr-text{
    color:black;
}
.middle {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.navigation{
    position:absolute;
    bottom:16px;
    left:50%;
    transform:translateX(-50%);
    display:flex;
}
.bar{
    height: 8px;
    width:30px;
    margin:6px;
    cursor:pointer;
    background-color:lightgrey;
    opacity: 0.5;
    border-radius:10px;
    transition: all .4s ease;
}

.bar:hover {
    opacity: 0.8;
    transform:scale(1.1);
}
input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width:400%;
    height:100%;
    display: flex;
}

.slide{
    width:25%;
    transition: all .6s ease;
}
.slide img{
    width:100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left:0;
}

#r2:checked ~ .s1{
    margin-left:-25%;
}
#r3:checked ~ .s1{
    margin-left:-50%;
}

.section-a{
    height:400px;
    position:relative;
}
