body {
    margin: 0;
}
.header {
    background-color: black;
    font-family: 'Syne Mono', monospace;
}
.main-menu {
    font-size : 1.2remf;
    font-weight:bold;
    padding: 20px 0;
}
.main-menu a {
    text-decoration: none;
    color : white;
    margin-right : 30px;
}
.container{
    max-width: 75%;
    margin: o auto;
}
p{
    font-family: 'Syne Mono', monospace;
    background-color: green;
    color:white;
}